.cart-container {
    padding-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.address-container {
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.address-card {
    width: 270px;
}

.address-container form {
    width: 100%;
}

.cart-payment-container {
    position: sticky;
    position: -webkit-sticky;
    top: 75px;
    width: 200px;
}

ul {
    padding: unset;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    list-style-type: none;
}