.cart-container {
    padding-top: 15px;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.cart-payment-container {
    position: sticky;
    position: -webkit-sticky;
    top: 75px;
    width: 200px;
}

.cart-payment-container mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-address-container {
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.select-address-container form {
    width: 100%;
}

.address-card {
    width: 400px;
}

.cart-info-container ul {
    padding: unset;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    list-style-type: none;
}
