.cart-container {
    width: 100%;
    max-width: 1600px;
    padding-top: 15px;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.cart-payment-container {
    width: 100%;
    margin-bottom: 20px;
    max-width: 360px;
    position: sticky;
    position: -webkit-sticky;
    top: 75px;
}

.payment-handset {
    position: relative;
    top: 0;
}

.cart-payment-container mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}


.cart-info-container {
    width: 100%;
    max-width: 600px;
}

.empty-cart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info {
    width: 100%;
}

.select-address-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.select-address-container form {
    width: 100%;
}

.address-card-container {
    width: 100%;
}

.address-card-container ul {
    padding: unset;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    list-style-type: none;
}

.cart-item-list {
    width: 100%;
}

.cart-item {
    width: 100%;
}