<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="">Charlie Sabores</span>
  <span class="spacer"></span>
  <button *ngIf="!isUserLogged" mat-raised-button routerLink="/auth/signup">Registrarse</button>
  <button *ngIf="isUserLogged"  mat-raised-button [matMenuTriggerFor]="account">Mi cuenta</button>
  <mat-menu #account>
    <button mat-menu-item routerLink="/users/myprofile">Mi Perfil</button>
    <button mat-menu-item>Mis Pedidos</button>
    <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
  </mat-menu>
  <button *ngIf="!isUserLogged" mat-raised-button routerLink="/auth/login">Iniciar sesión</button>
  <button mat-icon-button routerLink="/mycart">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>