
.products-table-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    overflow: auto;
}

table {
    width: 100%;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
}

img {
    width: 60px;
    height: 60px;
}

