<!-- 
    Documento HTML que contiene el footer de la aplicación
 -->

<div class="footer-container">
    <mat-toolbar></mat-toolbar>
    <mat-toolbar>
        <div class="social-icons-container">
            <a href="https://www.facebook.com/charliesaboresfb/" target="_blank"><img src="../../../assets/icons/icons8-facebook-96.png" alt=""></a>
            <a href="https://www.instagram.com/charlie_sabores/" target="_blank"><img src="../../../assets/icons/icons8-instagram-96.png" alt=""></a>
            <a href=""><img src="../../../assets/icons/icons8-whatsapp-96.png" alt=""></a>
        </div>
    </mat-toolbar>
    <mat-toolbar>
        <div class="footer-links">
            <div class="link-button-container">
                <button mat-button routerLink="legal-warning">Aviso legal</button>
            </div>
            <span>|</span>
            <div class="link-button-container">
                <button mat-button routerLink="privacy-policy">Política de privacidad</button>
            </div>
        </div>
    </mat-toolbar>
</div>