<mat-card class="address-card">
    <mat-card-content>
        <ul>
            <li>{{address.street}}</li>
            <li>{{address.city}}</li>
            <li>{{address.postalCode}}</li>
            <li>{{address.country}}</li>
        </ul>
    </mat-card-content>
    <mat-card-actions>
        <button type="button" mat-button [routerLink]="['edit-address/',address.id]">Editar</button>
        <button type="button" mat-button (click)="openDeleteDialog()">Eliminar</button>
    </mat-card-actions>
</mat-card>