<mat-card class="address-card">
    <mat-card-content class="address-cart-content">
        <ul>
            <li>{{address.street}}</li>
            <li>{{address.city}}</li>
            <li>{{address.postalCode}}</li>
            <li>{{address.country}}</li>
        </ul>
    </mat-card-content>
    <mat-card-actions class="address-cart-actions">
        <div class="mat-card-actions">
            <button type="button" mat-raised-button color="primary" [routerLink]="['edit-address/',address.id]">Editar</button>
            <button type="button" mat-raised-button color="primary" (click)="openDeleteDialog()">Eliminar</button>
        </div>
    </mat-card-actions>
</mat-card>