.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.stripe-completion-container {
    width: 360px;
    padding-top: 40px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}