<div class="login-container">
    <div class="form-container">
        <div class="form-content">
            <mat-toolbar class="form-toolbar" color="primary">Inicio de sesión</mat-toolbar>
            <mat-card class="form-card">
                <form class="form-main" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <mat-form-field>
                        <mat-label>email</mat-label>
                        <mat-icon matPrefix>email</mat-icon>
                        <input type="text" matInput formControlName="email">
                        <mat-error *ngIf="loginForm.controls.email.invalid">{{getEmailErrors()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Contraseña</mat-label>
                        <mat-icon matPrefix>lock_outline</mat-icon>
                        <input type="password" autocomplete="false" matInput formControlName="password">
                        <mat-error *ngIf="loginForm.controls.password.invalid">{{getPasswordErrors()}}</mat-error>
                    </mat-form-field>
                    <div>
                        <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Iniciar sesión</button>
                    </div>
                    <div class="form-error-response" *ngIf="loginErrorMessage">
                        {{loginErrorMessage}}
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>