.order-card-container {
    max-width: 800px;
}

.order-card-header {
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.order-date, .order-total, .order-status {
    flex: 1;
}

.order-address {
    flex: 3;
}

.order-address ul {
    padding: unset;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    list-style-type: none;
}

.order-card-content {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 20px;
}

img {
    width: 75px;
    height: 75px;
}

.order-item-container {
    display: flex;
    flex-flow: row nowrap;
    row-gap: 10px;
    column-gap: 30px;
}

.item-info {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.order-card-actions {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}