.categories-field {
    width: 80%;
}

.image-container {
    display: flex;
    align-items: center;
    row-gap: 20px;
}

img {
    padding: 20px;
    max-width: 60px;
    aspect-ratio: 1/1;
}

.file-input {
    display: none;
  }