.home-container {
  height: 100%;
  width: 100%;
}

.sidenav-container {
  width: 100%;
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidemenu {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 1fr;
}

.mat-menu-items {
  width: 200px;
}

.sidenav-content {
  height: 100%;
  width: 100%;
}

.home-toolbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 150;
}

.home-toolbar-menu {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.home-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.logo-container img{
  padding-top: 10px;
  width: 50px;
  height: 50px;
}

.spacer {
  flex: 10 1 auto;
}

.router-outlet-home {
  min-height: 600px;
}

.footer-container {
  width: 100%;
  position:relative
}