<div class="address-edit-container">
    <div class="address-edit-content">
        <mat-toolbar class="address-edit-toolbar" color="primary">EDITAR DIRECCIÓN</mat-toolbar>
        <mat-card class="address-edit-card">
            <form [formGroup]="addressEditForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <mat-label>Calle</mat-label>
                    <input type="text" matInput formControlName="street"> 
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Código Postal</mat-label>
                    <input type="text" matInput formControlName="postalCode"> 
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Ciudad</mat-label>
                    <input type="text" matInput formControlName="city"> 
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Pais</mat-label>
                    <input type="text" matInput formControlName="country"> 
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" type="submit" [disabled]="addressEditForm.invalid">Actualizar dirección</button>
                    <button mat-raised-button color="primary" type="button" (click)="goToAddresses()">Cancelar</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>