<div class="form-container">
    <div class="form-content">
        <mat-toolbar class="form-toolbar" color="primary">Actualización de contraseña</mat-toolbar>
        <mat-card class="form-card">
            <form class="form-main" *ngIf="updateFormActive" [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="form-field">
                    <mat-label>Contraseña actual</mat-label>
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <input type="password" autocomplete="false" matInput formControlName="password">
                    <mat-error *ngIf="updatePasswordForm.controls.password.invalid">{{getPasswordErrors(updatePasswordForm.controls.password)}}</mat-error>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Nueva contraseña</mat-label>
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <input type="password" autocomplete="false" matInput formControlName="newPassword">
                    <mat-error *ngIf="updatePasswordForm.controls.newPassword.invalid">{{getPasswordErrors(updatePasswordForm.controls.newPassword)}}</mat-error>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Confirme la nueva contraseña</mat-label>
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <input type="password" autocomplete="false" matInput formControlName="confirmationPassword">
                    <mat-error *ngIf="updatePasswordForm.controls.confirmationPassword.invalid">{{getPasswordErrors(updatePasswordForm.controls.confirmationPassword)}}</mat-error>
                </mat-form-field>
                <mat-error *ngIf="updatePasswordForm.invalid">{{getPasswordRelationsErrors()}}</mat-error>
                <div class="update-password-card-actions">
                    <button *ngIf="updateFormActive" mat-raised-button color="primary" [disabled]="updatePasswordForm.invalid">ACTUALIZAR</button>
                    <button *ngIf="updateFormActive" mat-raised-button color="primary" (click)="cancelPasswordUpdate()">CANCELAR</button>
                </div>
            </form>
            <mat-card-actions>
                <button *ngIf="!updateFormActive" mat-raised-button color="primary" (click)="activatePasswordUpdateForm()">ACTUALIZAR CONTRASEÑA</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>