<mat-card class="example-card">
    <img mat-card-image src="{{imgUrl}}">
    <mat-card-header>
      <mat-card-title>{{product?.name}}</mat-card-title>
      <mat-card-subtitle>{{product?.price}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{product?.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="addToCart()">AGREGAR AL CARRITO</button>
      <mat-form-field>
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" min="1" max="{{maxItems}}"
        [formControl]="quantity">
      </mat-form-field>
    </mat-card-actions>
</mat-card>
  