.product-card {
    display: grid;
    max-width: 300px;
    grid-template-rows: 300px 70px 100px 100px;
    grid-template-columns: 1fr;
}

.product-image-container {
    width: 100%;
}

img {
    width: auto;
    height: auto;
    max-width: 300px;
    aspect-ratio: 1/1;
}

.mat-card-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.button-container {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-field-container {
    width: 180px;
    padding-bottom: 24px;
    height: 48px;
}