.product-card {
    display: grid;
    grid-template-rows: 360px 70px 100px 100px;
    grid-template-columns: 360px;
}

img {
    max-width: 360px;
    aspect-ratio: 1/1;
}

.mat-card-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.button-container {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-field-container {
    padding-bottom: 24px;
    height: 48px;
}