<mat-card class="product-card">
    <img mat-card-image src="{{imgUrl}}">
    <mat-card-header>
      <mat-card-title>{{product?.name}}</mat-card-title>
      <mat-card-subtitle>{{product?.price | currency: 'EUR':'symbol'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{product?.description}}</p>
    </mat-card-content>
    <mat-card-actions class="mat-card-actions">
      <div class="quantity-field-container">
        <mat-form-field>
          <mat-label>Cantidad</mat-label>
          <mat-select [formControl]="quantity">
            <mat-option *ngFor="let item of [].constructor(maxItems); let i = index" value="i">{{i}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="button-container">
        <button color="primary" mat-raised-button (click)="addToCart()">Agregar</button>
      </div>
    </mat-card-actions>
</mat-card>
  