<div class="category-edit-container">
    <div class="category-edit-content">
        <mat-toolbar class="category-edit-toolbar" color="primary">Editar categoría</mat-toolbar>
        <mat-card class="category-edit-card">
            <form [formGroup]="categoryEditForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <mat-icon matPrefix>title</mat-icon>
                    <input type="text" matInput formControlName="name">
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" type="submit">Actualizar categoría</button>
                    <button mat-raised-button color="primary" type="button" (click)="goToCategories()">Cancelar</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>