<!-- 
    Documento HTML con el formulario de edición de una categoría
 -->

<div class="category-edit-container">
    <div class="form-container">
        <div class="form-content">
            <mat-toolbar class="form-toolbar" color="primary">Editar categoría</mat-toolbar>
            <mat-card class="form-card">
                <form class="form-main" [formGroup]="categoryEditForm" (ngSubmit)="onSubmit()">
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <mat-icon matPrefix>title</mat-icon>
                        <input type="text" matInput formControlName="name">
                    </mat-form-field>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" type="submit" [disabled]="categoryEditForm.invalid">Actualizar categoría</button>
                        <button mat-raised-button color="primary" type="button" routerLink="../../categories">Cancelar</button>
                    </mat-card-actions>
                </form>
            </mat-card>
        </div>
    </div>
</div>