<div *ngIf="order" class="order-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{order.user?.firstName}} {{order.user?.lastName}}</mat-card-title>
            <mat-card-subtitle>{{order.user?.mobile}} - {{order.user?.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <app-order-card [order]="order"></app-order-card>
        </mat-card-content>
        <mat-card-actions>
            <button *ngIf="finishEnabled" mat-raised-button color="primary">Finalizar</button>
            <button *ngIf="cancelEnabled" mat-raised-button color="primary" (click)="openCancelDialog()">Cancelar</button>
            <button mat-raised-button color="primary" routerLink="..">Volver al listado</button>
        </mat-card-actions>
    </mat-card>
</div>