.order-container {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}