<div class="privacy-policy-container">

    <h1 class="text-center">Política de Privacidad</h1>
    <div>
    
        <p>El objetivo de esta&nbsp;política es informar a los interesados acerca de los distintos tratamientos realizados
            por esta organización mediante la página web y que afecten a sus datos personales de conformidad con lo
            establecido en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los
            derechos digitales y el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016.
        </p>
        <ol>
            <li><strong>IDENTIFICACIÓN Y DATOS DE CONTACTO DEL RESPONSABLE DEL TRATAMIENTO</strong></li>
        </ol>
        <p>Actuando en régimen de corresponsabilidad del tratamiento a efectos del RGPD del GRUPO Charlie Sabores PASTELERÍAS:</p>
        <ul>
            <li>XXXXXXXXXX S.A., con N.I.F. A0000000.</li>
        </ul>
        <p>Domiciliadas en la C/ XXXXXX 8  MADRID, teléfono de contacto: 99 999 99 99 y correo
            electrónico <a href="mailto:lopd@charliesabores.com">lopd@charliesabores.com</a>.</p>
        <p><strong><u>DELEGADO DE PROTECCIÓN DE DATOS</u></strong></p>
    
            <li><strong>FINALIDADES DEL TRATAMIENTO DE SUS DATOS PERSONALES </strong></li>
        <ul>
            <li><strong>USUARIOS/NAVEGANTES DE LA PÁGINA WEB DEL RESPONSABLE</strong></li>
        </ul>
        <p>Trataremos sus datos de carácter personal facilitados a través de nuestros formularios web para:</p>
        <ul>
            <li>Atender a las solicitudes, quejas e incidencias trasladadas a través de nuestros canales de contacto
                incorporados en la página web.</li>
        </ul>
        <ul>
            <li>Entender el comportamiento del navegante dentro de la web con el fin de detectar posibles ataques
                informáticos a nuestra web.</li>
        </ul>
        <ul>
            <li>Cumplir con las obligaciones legales que nos resulten directamente aplicables y regulen nuestra actividad.
            </li>
        </ul>
        <ul>
            <li>Para proteger y ejercer nuestros derechos o responder ante reclamaciones de cualquier índole.</li>
        </ul>
        <ul>
            <li>En su caso, envío de comunicaciones comerciales relativas a los bienes o servicios que conforman nuestra
                actividad y/o noticias o boletines relacionados con nuestro sector.</li>
        </ul>
        <ul>
            <li><strong>CLIENTES</strong></li>
        </ul>
        <p>Trataremos sus datos de carácter personal facilitados a través de nuestros formularios web para:</p>
        <ul>
            <li>La gestión de la relación comercial.</li>
        </ul>
        <ul>
            <li>La prestación de los servicios que nos haya contratado.</li>
        </ul>
        <ul>
            <li>Gestiones relacionadas con el envío y recepción del producto adquirido a través de esta página web.</li>
        </ul>
        <ul>
            <li>La gestión administrativa, contable y fiscal.</li>
        </ul>
        <ul>
            <li>Atender a las solicitudes, quejas e incidencias trasladadas a través de nuestros canales de contacto
                incorporados en la página web.</li>
            <li>Entender el comportamiento del navegante dentro de la web con el fin de detectar posibles ataques
                informáticos a nuestra web.</li>
        </ul>
        <ul>
            <li>En su caso, envío de comunicaciones comerciales relativas a los bienes o servicios que conforman nuestra
                actividad y/o noticas o boletines relacionados con nuestro sector.</li>
        </ul>
        <ul>
            <li>Cumplir con las obligaciones legales que nos resulten directamente aplicables y regulen nuestra actividad.
            </li>
        </ul>
        <ul>
            <li>Para proteger y ejercer nuestros derechos o responder ante reclamaciones de cualquier índole.</li>
        </ul>
        <ul>
            <li><strong>PROVEEDORES</strong></li>
        </ul>
        <ul>
            <li>Gestión de la relación comercial.</li>
        </ul>
        <ul>
            <li>Atender a las solicitudes, quejas e incidencias trasladadas a través de nuestros canales de contacto
                incorporados en la página web.</li>
        </ul>
        <ul>
            <li>Entender el comportamiento del navegante dentro de la web con el fin de detectar posibles ataques
                informáticos a nuestra web.</li>
        </ul>
        <ul>
            <li>Cumplir con las obligaciones legales que nos resulten directamente aplicables y regulen nuestra actividad.
            </li>
        </ul>
        <ul>
            <li>Para proteger y ejercer nuestros derechos o responder ante reclamaciones de cualquier índole.</li>
        </ul>
        <ul>
            <li>En su caso, envío de comunicaciones comerciales relativas a los bienes o servicios que conforman nuestra
                actividad y/o noticas o boletines relacionados con nuestro sector.</li>
        </ul>
        <ul>
            <li><strong>CANDIDATOS A OFERTAS DE TRABAJO O POSTULANTES A EMPLEO</strong></li>
        </ul>
        <p>Trataremos sus datos de carácter personal facilitados a través de nuestros formularios web para:</p>
        <ul>
            <li>Gestionar tu candidatura.</li>
        </ul>
        <ul>
            <li>Comunicarnos contigo para ir informándote del estado del proceso de selección y de tu candidatura en el
                mismo.</li>
        </ul>
        <ul>
            <li>Entender el comportamiento del navegante dentro de la web con el fin de detectar posibles ataques
                informáticos a nuestra web.</li>
        </ul>
        <ul>
            <li>Para proteger y ejercer nuestros derechos o responder ante reclamaciones de cualquier índole.</li>
        </ul>
        <ul>
            <li>Envío de comunicaciones relativas a nuevas ofertas de trabajo que realicemos y se adecuen a tus necesidades;
                siempre y cuando nos hayas autorizado, previamente, a enviarte dicha información.</li>
        </ul>
    
        <br>
        <ol>
            <li><strong>BASE JURÍDICA DEL TRATAMIENTO</strong></li>
        </ol>
        <ul>
            <li><strong>USUARIOS/NAVEGANTES EN LA PÁGINA WEB DEL RESPONSABLE</strong></li>
        </ul>
        <ul>
            <li>En el consentimiento que nos has prestado para tratar tus datos con las finalidades indicadas.<em> La
                    negativa a facilitar sus datos personales conllevara la imposibilidad de tratar sus datos con las
                    finalidades mencionadas.</em></li>
        </ul>
        <ul>
            <li>Para cumplir con las obligaciones legales que se nos aplican. <em>En este caso, el interesado no podrá
                    negarse al tratamiento de los datos personales</em>.</li>
        </ul>
        <ul>
            <li>En nuestro interés legítimo de proteger nuestra imagen, negocio y trayectoria evitando ataques a nuestra
                página web. <em>En este caso, el interesado no podrá negarse al tratamiento de los datos
                    personales</em><strong>, </strong><em>aunque podrá ejercer, en su caso, los derechos reconocidos en el
                    apartado octavos de la presente política.</em></li>
        </ul>
        <ul>
            <li><strong>CLIENTES</strong></li>
        </ul>
        <ul>
            <li>Ejecución de un contrato en el que sea parte o aplicación de medias precontractuales. <em>La negativa a
                    facilitar sus datos personales conllevara la imposibilidad de tratar sus datos con las finalidades
                    mencionadas.</em></li>
        </ul>
        <ul>
            <li>En el consentimiento que nos has prestado para tratar tus datos respecto de las finalidades ajenas al
                desarrollo o ejecución del contrato existente. <em>La negativa a facilitar sus datos personales conllevara
                    la imposibilidad de tratar sus datos con las finalidades mencionadas.</em></li>
        </ul>
        <ul>
            <li>Para cumplir con las obligaciones legales que se nos aplican. <em>En este caso, el interesado no podrá
                    negarse al tratamiento de los datos personales</em>.</li>
        </ul>
        <ul>
            <li>En nuestro interés legítimo de proteger nuestra imagen, negocio y trayectoria evitando ataques a nuestra
                página web. <em>En este caso, el interesado no podrá negarse al tratamiento de los datos
                    personales</em><strong>, </strong><em>aunque podrá ejercer, en su caso, los derechos reconocidos en el
                    apartado octavos de la presente política. </em></li>
        </ul>
        <ul>
            <li><strong>PROVEEDORES</strong></li>
        </ul>
        <ul>
            <li>Ejecución de un contrato en el que sea parte o aplicación de medidas precontractuales. <em>La negativa a
                    facilitar sus datos personales conllevara la imposibilidad de tratar sus datos con las finalidades
                    mencionadas.</em></li>
        </ul>
        <ul>
            <li>En el consentimiento que nos has prestado para tratar tus datos respecto de las finalidades ajenas al
                desarrollo o ejecución del contrato existente. <em>La negativa a facilitar sus datos personales conllevara
                    la imposibilidad de tratar sus datos con las finalidades mencionadas.</em></li>
        </ul>
        <ul>
            <li>Para cumplir con las obligaciones legales que se nos aplican. <em>En este caso, el interesado no podrá
                    negarse al tratamiento de los datos personales</em>.</li>
            <li>En nuestro interés legítimo de proteger nuestra imagen, negocio y trayectoria evitando ataques a nuestra
                página web. <em>En este caso, el interesado no podrá negarse al tratamiento de los datos
                    personales</em><strong>, </strong><em>aunque podrá ejercer, en su caso, los derechos reconocidos en el
                    apartado octavos de la presente política.</em></li>
        </ul>
        <ul>
            <li><strong>CANDIDATOS A OFERTAS DE TRABAJO O POSTULANTES A EMPLEO</strong></li>
        </ul>
        <ul>
            <li>En el consentimiento que nos has prestado para tratar tus datos con las finalidades indicadas.<em> La
                    negativa a facilitar sus datos personales conllevara la imposibilidad de tratar sus datos con las
                    finalidades mencionadas.</em></li>
        </ul>
        <ul>
            <li>Para cumplir con las obligaciones legales que se nos aplican. <em>En este caso, el interesado no podrá
                    negarse al tratamiento de los datos personales</em>.</li>
        </ul>
        <ul>
            <li>En nuestro interés legítimo de proteger nuestra imagen, negocio y trayectoria evitando ataques a nuestra
                página web. <em>En este caso, el interesado no podrá negarse al tratamiento de los datos
                    personales</em><strong>, </strong><em>aunque podrá ejercer, en su caso, los derechos reconocidos en el
                    apartado octavos de la presente política.</em></li>
        </ul>
        <br>
        <ol>
            <li><strong>PLAZOS O CRITERIOS DE CONSERVACIÓN DE LOS DATOS</strong></li>
        </ol>
        <p>Los datos personales proporcionados se conservarán durante el tiempo necesario para cumplir con las finalidades
            para los que fueron recopilados inicialmente.</p>
        <p>Una vez que los datos dejen de ser necesarios para el tratamiento en cuestión, estos se mantendrán debidamente
            bloqueados para, en su caso, ponerlos a disposición de las Administraciones y Organismos Públicos competentes,
            Jueces y Tribunales o el Ministerio Fiscal, durante el plazo de prescripción de las acciones que pudieran
            derivarse de la relación mantenida con el cliente y/o los plazos de conservación previstos legalmente.</p>
        <p>En el caso de que nos hayas facilitado tu currículum, conservaremos tus datos durante el periodo máximo de un año
            desde la recepción del mismo por parte de la entidad, salvo que nos hayas autorizado a mantener tus datos por un
            periodo de conservación mayor al indicado.</p>
        <p><em><u>Periodo de bloqueo de los datos:</u></em></p>
        <ul>
            <li><strong>EL CÓDIGO CIVIL.</strong> Entre 5 o 15 años según el caso, atendiendo a lo dispuesto en el artículo
                1.964.2 del cuerpo legal mencionado.</li>
        </ul>
        <ul>
            <li><strong>EL CÓDIGO DE COMERCIO. </strong>Durante 6 años, atendiendo a dispuesto en el artículo 30 del cuerpo
                legal mencionado. Se aplica respecto de la información mercantil relacionada con facturas emitidas y
                recibidas, tickets, facturas rectificativas, documentos bancarios, etc.</li>
        </ul>
        <ul>
            <li><strong>LA LEY GENERAL TRIBUTARIA.</strong> Durante 4 años atendiendo a dispuesto en los artículos 66 a 70
                del cuerpo legal mencionado. Se aplica a la información relacionada con las obligaciones fiscales.</li>
        </ul>
        <br>
        <ol>
            <li><strong>DECISIONES AUTOMATIZADAS Y ELABORACIÓN DE PERFILES</strong></li>
        </ol>
        <p>La página web no toma decisiones automatizadas ni elabora perfiles.</p>
        <ol>
            <li><strong>DESTINATARIOS</strong></li>
        </ol>
        <p>Durante el periodo de duración del tratamiento de sus datos personales, la organización podrá ceder sus datos a
            los siguientes destinatarios:</p>
        <ul>
            <li>Jueces y Tribunales.</li>
        </ul>
        <ul>
            <li>Fuerzas y Cuerpos de Seguridad del Estado.</li>
        </ul>
        <ul>
            <li>Otras autoridades u organismos públicos competentes, cuando el responsable tenga la obligación legal de
                facilitar los datos personales.</li>
        </ul>
        <ul>
            <li>Bancos y Entidades Financieras, en el caso de que nos contrate.</li>
        </ul>
        <ol>
            <br>
            <li><strong>TRANSFERENCIAS INTERNACIONALES DE DATOS</strong></li>
        </ol>
        <p>La organización no realiza Transferencia Internacional de Datos alguna.</p>
        <ol>
            <li><strong>DERECHOS</strong></li>
        </ol>
        <p>Los interesados podrán ejercer en cualquier momento y de forma totalmente gratuita los derechos de acceso,
            rectificación y supresión, así como solicitar que se limite el tratamiento de sus datos personales, oponerse al
            mismo, solicitar la portabilidad de estos (siempre que sea técnicamente posible) o retirar el consentimiento
            prestado y, en su caso, cuando proceda, a no ser objeto de una decisión basada únicamente en un tratamiento
            automatizado, incluido la elaboración de perfiles.&nbsp;</p>
        <p>Para ello podrá emplear los formularios habilitados por la organización, o bien dirigir un escrito a la dirección
            postal o correo electrónico arriba indicadas. En cualquier caso, su solicitud deberá acompañarse de una
            fotocopia de su D.N.I. o documento equivalente, con la finalidad de acreditar su identidad.&nbsp;</p>
        <p>En caso de que sienta vulnerados sus derechos en lo concerniente a la protección de sus datos personales,
            especialmente cuando no haya obtenido satisfacción en el ejercicio de sus derechos, puede presentar una
            reclamación ante la Autoridad de Control en materia de Protección de Datos competente <strong>(Agencia Española
                de Protección de Datos)</strong>, a través de su sitio web <a href="http://www.agpd.es">www.agpd.es</a>.</p>
        <p>En cumplimiento de lo dispuesto en el artículo 21 de la Ley 34/2002 de servicios de la sociedad de la información
            y comercio electrónico, si usted no desea recibir más información sobre nuestros servicios, puede darse de baja
            enviando un correo electrónico a la dirección <a
                href="mailto:lopd@charliesabores.com">lopd@charliesabores.com</a>, con asunto
            <strong>“<em>BAJAS”</em></strong>.</p>
        <ol>
            <li><strong>VERACIDAD DE LOS DATOS</strong></li>
        </ol>
        <p>El interesado garantiza que los datos aportados son verdaderos, exactos, completos y se encuentran actualizados,
            comprometiéndose a informar de cualquier cambio respecto de los datos que aportara, por los canales habilitados
            al efecto e indicados en el punto uno de la presente política. Será responsable de cualquier daño o perjuicio,
            tanto directo como indirecto, que pudiera ocasionar como consecuencia del incumplimiento de la presente
            obligación.</p>
        <p>En el supuesto de que el usuario facilite datos de terceros, declara que cuenta con el consentimiento de los
            interesados y se compromete a trasladarle la información contenida en esta cláusula, eximiendo a la organización
            de cualquier responsabilidad derivada por la falta de cumplimiento de la presente obligación.</p>
        <p>&nbsp;Última revisión: Septiembre 2023</p>
    
    </div>
</div>
