/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Forms global styles */
.form-container{
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
}

.form-content {
    max-width: 400px;
    width: 100%;
    display: block;
}

.form-main {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    row-gap: 10px;
    flex-flow: column;
    align-items: center;
    justify-content: space;
}

.form-toolbar {
    justify-content: center;
}

.form-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

mat-form-field {
    width: 80%;
}

.form-container mat-card-actions {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.form-container .mat-raised-button {
    width: 100%;
    height: 60px;
}

.form-error-response {
    width: 80%;
    color: red;
    font-weight: bold;
    text-align: center;
}

mat-form-field.ng-invalid.ng-touched {
    animation: example;
    animation-duration: 0.3s;
    margin-bottom: 13px;
}
  
@keyframes example {
    from {margin-bottom: 0;}
    to {margin-bottom: 13px;}
}
