<!-- 
    Documento HTML con el formulario para el registro de un nuevo usuario
 -->

<div class="signup-container">
    <div class="form-container">
        <div class="form-content">
            <mat-toolbar class="form-toolbar" color="primary">Registro</mat-toolbar>
            <mat-card class="form-card">
                <form class="form-main" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                    <mat-form-field>
                        <mat-label>Nombres</mat-label>
                        <mat-icon matPrefix>person</mat-icon>
                        <input type="text" matInput formControlName="firstName">
                        <mat-error *ngIf="signupForm.controls.firstName.invalid">{{getFirstNameErrors()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Apellidos</mat-label>
                        <mat-icon matPrefix>person</mat-icon>
                        <input type="text" matInput formControlName="lastName">
                        <mat-error *ngIf="signupForm.controls.lastName.invalid">{{getLastNameErrors()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-field">
                        <mat-label>email</mat-label>
                        <mat-icon matPrefix>email</mat-icon>
                        <input type="text" matInput formControlName="email">
                        <mat-error *ngIf="signupForm.controls.email.invalid">{{getEmailErrors()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-field">
                        <mat-label>Contraseña</mat-label>
                        <mat-icon matPrefix>lock_outline</mat-icon>
                        <input type="password" autocomplete="false" matInput formControlName="password">
                        <mat-error *ngIf="signupForm.controls.password.invalid">{{getPasswordErrors()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Teléfono de contacto</mat-label>
                        <mat-icon matPrefix>contact_phone</mat-icon>
                        <input type="text" matInput formControlName="mobile">
                    </mat-form-field>
                    <mat-card-actions>
                        <button type="submit" mat-raised-button color="primary" [disabled]="signupForm.invalid">Registrarse</button>
                    </mat-card-actions>
                    <div *ngIf="signupErrorMessage" class="form-error-response">
                        {{signupErrorMessage}}
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>