<!-- 
    Documento HTML que contiene los datos de un usuario
 -->

<mat-toolbar>
    <span>Mi perfil</span>
</mat-toolbar>
<div class="user-profile-container">
    <div class="user-update-container">
        <app-user-update></app-user-update>
    </div>
    <div class="user-auth-container">
        <div class="update-password-container">
            <app-update-password></app-update-password>
        </div>
        <div class="delete-account-container">
            <app-user-delete-account></app-user-delete-account>
        </div>
    </div>
</div>