.address-gallery-container {
    width: 100%;
}

.address-gallery {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    gap: 10px;
}

.empty-addresses {
    width: 100%;
    max-width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.empty-addresses mat-card-actions {
    display: flex;
    justify-content: center;
}